/.CFUserTextEncoding
/.DS_Store
/.Trash
/.azuredatastudio
/.cache
/.docker
/.gitconfig
/.local
/.npm
/.oracle_jre_usage
/.ssh
/.viminfo
/.vscode
/.zsh_history
/.zsh_sessions
/Applications
/Contact Info.pdf
/DataGripProjects
/Desktop
/Documents
/Downloads
/EnrollmentApp.java
/Library
/Movies
/Music
/Pictures
/Public
/Sublet Agreement 2018 Electronic.pdf
/WechatIMG217.jpeg
/a
/a.cc
/a1q4
/a1q6.txt
/aaa
/b.cc
/backup
/bin
/config
/cs240
/cs241
/cs246
/data
/interview
/logs
/main.cc